.list-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.item {
  width: 10%;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  text-align: center;
}


.item-deadths {
  font-weight: bold;
  color: grey;
}

.item-deadths span {
  color:red;
}
