.default-btn {
  font-size: 14px;
  color: blue;
  border: 2px solid blue;
  font-weight: bold;
  border-radius: 3px;
  padding: 10px 20px;
  background-color: inherit;
  outline: none;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.default-btn:hover {
  background-color: blue;
  color: white;
}